@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&family=Open+Sans:ital@1&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; }

nav {
  border-bottom: solid 2px #DDDDDD;
  background-color: #EEEEEE; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal; }

p {
  font-family: 'Fredoka', sans-serif; }

.logo {
  height: 110px;
  width: 450px;
  padding-right: 10%; }

footer {
  display: flex;
  padding: 20px 0 0 0;
  border-top: solid 2px #DDDDDD;
  background-color: #EEEEEE;
  justify-content: space-around;
  margin-top: 50px; }

.white {
  color: white; }

.video {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center; }

.tamvideo {
  height: 600px;
  width: 100%; }

.subtitulos {
  padding-top: 30px;
  padding-bottom: 20px;
  font-family: 'Fredoka', sans-serif;
  text-align: start;
  background-color: whitesmoke;
  border-bottom: solid 2px #e90000; }

.nosotros {
  font-family: 'Fredoka', sans-serif;
  text-align: center; }

.sponsors {
  margin: 0;
  display: flex;
  height: 6em;
  justify-content: space-around;
  padding-bottom: 1%; }

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 500px;
  grid-gap: 10px; }

.bb {
  grid-row: 3 span; }

.container2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 500px;
  grid-gap: 10px; }

.dos {
  grid-column: 2 span; }

.tres {
  grid-column: 2 span; }

.seis {
  grid-column: 2 span; }

.prod {
  margin: 0;
  display: flex;
  height: 200px;
  justify-content: space-evenly; }

.contacto {
  display: flex;
  padding-top: 30px;
  flex-direction: column;
  align-items: center; }

.contacto2 {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center; }

.amort {
  display: flex;
  padding: 0;
  justify-content: space-around;
  padding-top: 20px; }

.marcas {
  display: flex;
  justify-content: space-around;
  height: 6em; }

.insumos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.container3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 700px; }

.siete {
  grid-column: 2 span; }

.ocho {
  grid-row: 2 span; }

.nueve {
  grid-column: 2 span; }

.redes {
  height: 50px; }

@media screen and (max-width: 768px) {
  .logo {
    height: 50px;
    width: 200px;
    padding-right: 3%; }
  footer {
    display: flex;
    padding: 5px 0 0 0;
    border-top: solid 2px #DDDDDD;
    background-color: #EEEEEE;
    justify-content: flex-start;
    margin-top: 30px; }
  .video {
    padding-top: 7px;
    padding-bottom: 7px; }
  .tamvideo {
    height: 300px;
    width: 100%; }
  .sponsors {
    margin: 0;
    display: flex;
    height: 3em;
    justify-content: space-evenly; }
  .marcas {
    display: flex;
    justify-content: space-around;
    height: 4em;
    padding-bottom: 20px; }
  .container {
    grid-template-columns: 1fr;
    grid-gap: 10px; }
  .aa {
    grid-row: 500px; }
  .bb {
    grid-row: 1 span; }
  .container2 {
    grid-template-columns: 1fr;
    grid-gap: 5px; }
  .dos {
    grid-column: 1 span; }
  .tres {
    grid-column: 1 span; }
  .seis {
    grid-column: 1 span; }
  .amort {
    flex-direction: column;
    gap: 5px;
    align-items: center; }
  .prod {
    margin: 0;
    display: flex;
    height: 100px;
    justify-content: space-evenly; }
  .contacto {
    display: flex;
    padding-top: 15px;
    flex-direction: column;
    align-items: center; }
  .contacto2 {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center; }
  .container3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-auto-rows: 300px;
    padding-bottom: 15px; }
  .siete {
    grid-column: 1 span; }
  .siete img {
    height: 250px;
    padding-left: 20px;
    padding-right: 20px; }
  .ocho {
    grid-row: 1 span; }
  .ocho img {
    height: 250px;
    padding-left: 20px;
    padding-right: 20px; }
  .nueve {
    grid-column: 1 span; }
  .nueve img {
    height: 250px;
    padding-left: 20px;
    padding-right: 20px; }
  .redes {
    height: 20px; } }
