nav {
    border-bottom: $bordeheaderfooter;
    background-color: $colorheaderfooter;
}

nav .logo {
    height: 110px;
    width: 410px;
    padding-right: 10%;
    vertical-align: middle;
    }

li{
    font-family: 'Fredoka', sans-serif;
    font-size: large;
    font-weight: 800;
    padding-left: 1em;
    }